node_modules/

# Root config folder - Ignore this directory at the root due to leading slash
/artifacts

# User-specific files - Ignore all files ending in ".env"
*.env

# Ignore all files starting with "z"
z.*
